* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:hover,
a:visited {
  color: $coral;
  text-decoration: none !important;
}

a:hover {
  color: $coral !important;
}

li {
  list-style: none;
}

h2.section-title {
  color: $black;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-align: center;
}

h3.subheading {
  color: $white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

p.section-copy {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.65;
  &:last-child {
    margin-bottom: 0;
  }
}
