* {
  box-sizing: border-box;
  font-family: $serif;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:hover,
a:visited {
  color: $coral !important;
  text-decoration: none !important;
}

a:hover {
  color: $coral !important;
}

li {
  list-style: none;
}

h1.site-title {
  font-family: $handwritten;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

h2.section-title {
  color: $darkgrey;
  font-size: 26px;
  font-family: $handwritten;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-align: center;
}

h2.article-title {
  color: $white;
  font-size: 40px;
  font-family: $handwritten;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-align: center;
}

h3.subheading {
  color: $white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

p.section-copy {
  color: $darkgrey;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.65;
  &:last-child {
    margin-bottom: 0;
  }
}

p.article-blurb,
p.tweet-this a,
p.read-this a {
  color: $white;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.75;
  i {
    font-size: 22px;
    margin-right: 5px;
  }
}

p.tweet-this a:hover {
  color: $twitter !important;
}
