// Colors

$white: rgb(250,250,250);
$offwhite: darken($white,5%);
$black: rgb(50,50,50);

$grey: rgb(130,130,130);
$darkgrey: darken($grey,15%);
$lightgrey: lighten($grey,15%);

$coral: rgb(254,90,91);
$cyan: rgb(90,254,253);

$html: #F05E27;
$css: #2AA0DA;
$javascript: #F1B524;
$php: #767BB1;
$gulp: #E54247;
$ecommerce: #78B928;
$git: #EE472D;
$accessibility: #0368B6;
$webdesign: #BC8F8F;

$twitter: #1dcaff;

// Fonts

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Roboto:300,400,900');

$serif: "Roboto";
$handwritten: "Gochi Hand";

// Screen SIZES

$extra-large: 1200px;
$large: 1199px;
$medium: 991px;
$small: 767px;
$extra-small: 575px;
