#skills {
  overflow: hidden;
  .skill {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    float: left;
    height: calc((100vh - 80px) / 3);
    min-height: 300px;
    justify-content: center;
    width: 33.33%;
    .front,
    .back {
      display: inline-block;
      position: absolute;
      transition: ease-in-out 0.35s;
      text-align: center;
      width: 33.33%;
    }
    .front {
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 1px;
      opacity: 1;
    }
    .back {
      padding: 30px;
      opacity: 0;
      p {
        color: $white;
      }
    }
    &:hover {
      .front,
      .back {
        position: absolute;
        transition: ease-in-out 0.35s;
      }
      .front {
        opacity: 0;
      }
      .back {
        opacity: 1;
      }
    }
    &.html { background: $html; }
    &.css { background: $css; }
    &.javascript { background: $javascript; }
    &.php { background: $php; }
    &.gulp { background: $gulp; }
    &.ecommerce { background: $ecommerce; }
    &.git { background: $git; }
    &.accessibility { background: $accessibility; }
    &.webdesign { background: $webdesign; }
  }
}
