<div id="nav-bar">
  <div class="container wrapper">
    <h1 class="site-title">Jessica Felts</h1>
    <nav id="primary">
      <ul class="row">
        <li class="list-item active"><a href="./" title="Home">Home</a></li>
        <li class="list-item"><a href="./about" title="About">About</a></li>
        <li class="list-item"><a href="./projects" title="Projects">Projects</a></li>
        <li class="list-item"><a href="./contact" title="Contact">Contact</a></li>
        <li class="list-item"><a href="./articles" title="Blog">Blog</a></li>
        <li class="notice"><i class="fa fa-exclamation-circle fa-x2"></i></li>
      </ul>
    </nav><!-- end nav#primary -->
  </div>
</div><!-- end #nav-bar -->
