<div id="nav-bar">
  <div class="container wrapper">
    <h1 class="site-title">Jessica Felts</h1>
    <nav id="primary">
      <ul class="row">
        <li class="list-item active">Home</li>
        <li class="list-item">About</li>
        <li class="list-item">Projects</li>
        <li class="list-item">Contact</li>
        <li class="list-item">Blog</li>
        <li class="notice"><i class="fa fa-exclamation-circle fa-x2"></i></li>
      </ul>
    </nav><!-- end nav#primary -->
  </div>
</div><!-- end #nav-bar -->
