<div id="top-bar" aria-hidden="false">
  <div class="container wrapper">
    <div class="notice">
      <i class="icon fa fa-exclamation-circle fa-x2" aria-hidden="true"></i>
      <span>Please excuse the dust! This site is currently under construction!</span>
    </div>
    <!-- <button type="button" name="button"><i class="fa fa-times-circle fa-x2" aria-hidden="true"></i></button> -->
  </div>
</div><!-- end #top-bar -->
